<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <h2>Create Estimate</h2>

    <%= form_for @estimate, :url => {:action => 'create'}, html: {class: ' form-horizontal'} do |f| %>

      <%= render(:partial => "new_form", :locals => {:f => f, :p => p}) %>

      <div class="control-group">
          <div class="controls">
              <%= submit_tag("Create Estimate", class: 'btn') %>
          </div>
      </div>

    <% end %>

</div>