<div class="nested-fields" style="margin-left: 64px;">
  <p class="fields">
    <%= f.label :name, "Task" %>
    <%= f.text_field :name %>
    <%= link_to_remove_association("Delete",f) %>
  </p>
</div>





