<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Delete Task List</h2>
	
	<%= form_for(:tasklist, :url => {:action => 'destroy', :id => @tasklist.id}) do |f| %>
	
	<p>Are you sure you want to delete this task list?</p>
	

	<p class="reference-name"><%= @tasklist.name %></p>


	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>
	
	<% end %>
</div>