<div>
	<%= render(:partial => "layouts/project_mgmt_sub_menu")%>
	<h2>Edit Task List</h2>
	
	<%= form_for @tasklist, :url => {:action => 'update', :id => @tasklist.id}, :html => {:class => 'tasklist form-horizontal'} do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f})%>

      <div class="control-group">
          <div class='controls'>
              <%= f.submit "Update", class: 'btn' %>
          </div>
      </div>
	
	<% end %>
	
</div>
