<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Edit Task List</h2>
	
	<%= form_for @tasklist, :url => {:action => 'update', :id => @tasklist.id}, :html => {:class => 'tasklist'} do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f})%>
	
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>
	
	<% end %>
	
</div>
