<div>
	<%= render(:partial => "layouts/people_sub_menu")%>
	<h2>Delete Architect</h2>
	
	<%= form_for(:subcontractor, :url => {:action => 'destroy', :id => @subcontractor.id}) do |f| %>
	
	<p>Are you sure you want to delete this subcontractor?</p>
	
	<p class="reference-name"><%= @subcontractor.first_name %></p>
	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>
	
	<% end %>
</div>