<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Edit Subcontractor's Info</h2>
	
	<%= form_for @subcontractor, :url => {:action => 'update', :id => @subcontractor.id} do |f| %>
	
	<%= render(:partial => "new_form", :locals => {:f => f})%>
	
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>
	
	<% end %>
	
</div>
