<tr class="purchased shipping">
    <td>
    </td>
    <td>
        Delivery
    </td>
    <td>

    </td>
    <td class="right">
        <%= price_tag(shipping, "budget-actual-cost") %>
    </td>
    <td class="right">
        -<%= price_tag(shipping, "budget-actual-profit") %>
    </td>
    <td class="right"></td>
</tr>