<div>
  <%= render(:partial => "sub_menu")%>
  <h2>Edit Template</h2>

  <%= form_for @template, :url => {:action => 'update', :id => @template.id} do |f| %>

    <%= render(partial: "new_form", locals: {f: f})%>

    <div class="form-buttons">
      <%= submit_tag("Update Template") %>
    </div>

  <% end %>

</div>