<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Add New Bid</h2>
            <%= form_for @bid, :method => :post, :html => {:class => 'new_bid form-horizontal'} do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
            <% end %>
            <div class="control-group">
                <div class='controls'>
                    <%= submit_tag("Create", :data => {:form => ".new_bid"}, :class => 'btn') %>
                </div>
            </div>
        </div>
    </div>
</div>