<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Delete Architect</h2>
	
	<%= form_for(:architect, :url => {:action => 'destroy', :id => @architect.id}) do |f| %>
	
	<p>Are you sure you want to delete this architect?</p>
	
	<p class="reference-name"><%= @architect.first_name %></p>
	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>
	
	<% end %>
</div>