<div>
  <%= render(:partial => "layouts/people_sub_menu")%>
  <h2>Import / Export</h2>
  
  
  <div>
  
    <h3> Export Architects: </h3>
    <p>
      <%= link_to "CSV", {controller: 'architects', action: 'list', format: 'csv'} %> |
      <%= link_to "Excel", {controller: 'architects', action: 'list', format: 'xls'} %>
    </p>
    
  </div>

</div>