<div>
	<%= render(:partial => "sub_menu")%>
	<h2>Delete User</h2>
	
	<%= form_for(:user, :url => {:action => 'destroy', :id => @user.id}) do |f| %>
	
	<p>Are you sure you want to delete this user?</p>
	

	<p class="reference-name"><%= @user.full_name %></p>


	<div class="form-buttons">
		<%= submit_tag("Delete") %>
	</div>
	
	<% end %>
</div>