<div>
	<h2>New User</h2>
	
	<%= form_for @user, :url => {:action => 'create'} do |u| %>
	
	<%= render(:partial => "new_form", :locals => {:u => u})%>
	
	<div class="form-buttons">
		<%= submit_tag("Create") %>
	</div>
	
	<% end %>
	
</div>