// Place all the styles related to the Accounting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#payables, #receivables{
  a.btn{
    width: 120px;
  }

  h3{
    float:left;
  }
}

.light-blue{
  background-color: #E5F1F4
}

.strong{
  font-weight: bold
}

.cell-price{
  width: 100px
}