// Place all the styles related to the Estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-list{
  tr.add td{
    text-align: center;
    }
  }
td{
 div{
    display: inline-block;
   }
 }
th.amount, th.margin, th.price{
  width: 100px;
}
tr.subtotal {
  td:first-child {
    font-weight: bold;
  }
}
tr.total {
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  td:first{
    text-align: right;
  }
}
td.button-container{
    width: 100px;
    text-align: center;
    form{
      float: left;
    }
  }
#template-placeholder{
  clear: both;
}
.edit_estimate{
  display: inline-block;
  float:left;
}
.estimate-actions{
  float:right;
}

