// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_items{
  margin-left: 100px;
  .item{
    background: gray;
    padding: 5px;
    max-width: 200px;
    color: white;
    margin: 5px;
  }
}
