<tr>
    <td>Contact's info</td>
</tr>
<tr>
    <td>
        <%= raw ["#{object.first_name} #{object.last_name}", object.email].compact.join("<br/>") %>
        <br/>
        Phone: <%= ["#{number_to_phone(object.phone1, :area_code => true)} #{object.phone1_tag}",
                    "#{number_to_phone(object.phone2, :area_code => true)}  #{object.phone2_tag}"].compact.join(", ") %>
    </td>
</tr>