<tr>
    <td>Primary Contact</td>
</tr>
<tr>
    <td>
        <%= raw ["#{object.first_name} #{object.last_name}",
                 "#{number_to_phone(object.phone1, :area_code => true)} #{object.phone1_tag}",
                 object.email].select(&:present?).join("<br/>") %>
        <br/>
        <div class="address-info"></div>

    </td>
</tr>