<div id='submenu'>
	<ul>
		<li><%= link_to("Current Projects", {:action => 'list_current'})%>
		<li><%= link_to("Past Projects", {:action => 'list_past'})%>
		<li><%= link_to("Import/Export")%>
	</ul>
</div>

	