<div>
	<%= render(:partial => "layouts/people_sub_menu")%>
	<h2>Edit Client's Info</h2>
	
	<%= form_for @client, :url => {:action => 'update', :id => @client.id} do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f})%>
	
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>
	
	<% end %>
	
</div>
