<div>
    <%= render(:partial => "layouts/people_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">&nbsp;</div>
        <div class="large-6 medium-6 columns">
            <h1 class="center">
                Add Client
            </h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <%= form_for @client, :url => {:action => 'create'}, html: {class: 'form-horizontal'} do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", class: 'btn') %>
                    </div>
                </div>
              <% end %>
        </div>
    </div>
</div>