<div>
	<%= render(:partial => "lead_sub_menu")%>
	<h2>Delete Lead</h2>
	<%= form_for @project, :url => {:action => 'destroy', :id => @project.id} do |f| %>
	
	<p>Are you sure you want to delete this lead?</p>
	
	<p class="reference-name"><%=  %></p>
	<div class="form-buttons">
		<%= submit_tag("Delete Lead") %>
	</div>
	
	<% end %>
</div>