<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Add New Specification</h2>
            <%= form_for @specification, :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>