<tr class="clickable">
    <td>
        <div class="indent">&nbsp;</div>
        <div class="indent">&nbsp;</div>
        <%= project.name %>
        <%= link_to "", {:action => "show_account", :id => object.id, :type => object.class.name, :project_id => project.id}, {:remote => true, :style => 'display: none', :class => 'clickable-link'} %>
    </td>
    <td class="right">
        <%= number_to_currency(account_balance(object, project.id)) %>
    </td>
</tr>