<%- project.next_tasks(5).each do |t| %>
  <div id="task_<%= t.id %>" style="display: block" class="task">
      <%= label_tag "task_ids[#{t.id}]" do %>
        <%= check_box_tag("task_ids[#{t.id}]", t.id, t.completed, :data => {:remote => true, :url => url_for(:action => "complete_task")}) %>
        <%= t.name %>
      <% end %>
  </div>
<% end %>