<div class='zurb-row' id='submenu'>
    <ul>
        <li><%= link_to("Current Projects", {:action => 'list_current_projects'}) %>
        <li><%= link_to("Past Projects", {:action => 'list_past_projects'}) %>
        <li><%= link_to("Task Lists", {:controller => 'tasklists', :action => 'list'}) %>
        <li><%= link_to("Import/Export") %>
    </ul>
</div>