<div class="nested-fields">
	<p class="fields">
		<%= f.label :completed do %>
        <%= f.check_box :completed %>
        <%= f.object.name %>
    <% end %>
		<%= f.hidden_field :name %>
	</p>
</div>







