<tr class="purchased shipping">
    <td>
    </td>
    <td>
        Delivery
    </td>
    <td>

    </td>
    <td class="right">

    </td>
    <td class="right">

    </td>
    <td class="right">
        <%= price_tag shipping %>
    </td>
    <td class="right">

    </td>
    <td class="right">

    </td>
    <td class="right">
        -<%= price_tag shipping %>
    </td>
</tr>