<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Project.initBudget();
    })
  </script>
<% end %>
<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Budget for <%= @project.name %> </h2>
            <% if @project.committed_estimate.kind =="Cost Plus Bid" %>
              <%= render :partial => 'projects/cost_plus_bid/template', :locals => {:template => @project.committed_estimate.template} %>
            <% else %>
              <%= render :partial => 'template', :locals => {:template => @project.committed_estimate.template} %>
            <% end %>
        </div>
    </div>
</div>