<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Project.init();
    })
  </script>
<% end %>
<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Budget for <%= @project.name %> </h2>
            <%- @project.estimates.each do |e| %>
              <% if e.kind =="Cost Plus Bid" %>
                <%= render :partial => 'projects/cost_plus_bid/template', :locals => {:template => e.template} %>
              <% else %>
                <%= render :partial => 'template', :locals => {:template => e.template} %>
              <% end %>
            <% end %>
        </div>
    </div>
</div>