<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Change Task List</h2>
            <%= form_for(:tasklist, :url => {:action => 'destroy_tasklist', :id => @tasklist.id}) do |f| %>
                <p>Are you sure you want to delete this task list and lose all of it's data?</p>

                <p class="reference-name"><%= @tasklist.name %></p>

                <div class="form-buttons">
                    <%= submit_tag("Delete", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>