<div>
	<%= render(:partial => "lead_sub_menu")%>
	<h2>Convert Lead</h2>
	
	<%= form_for @project, :url => {:action => 'conversion_lead', :id => @project.id} do |f| %>
	
	<table>
		<tr>
			<th>Lead Status</th>
			<td><%= f.select(:status, ['Current Lead', 'Current Project', 'Past Lead']) %>
		</tr>
	</table>
	
	<div class="form-buttons">
		<%= submit_tag("Convert Lead") %>
	</div>
	
	<% end %>
</div>