<div>
	<%= render(:partial => "project_sub_menu")%>
	<h2>Customize Task List</h2>
	
	<%= form_for @tasklist, :url => {:action => 'process_customize', :id => @tasklist.id}, :html => {:class => 'tasklist'}  do |f| %>
	<%= render :partial => 'tasklists/tasks', :locals => { f: f} %>
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>
	<% end %>
</div>
