<div>
    <%= render(:partial => "layouts/project_mgmt_sub_menu")%>
    <h2>Delete Change Order</h2>

    <%= form_for(:change_order, :url => {:action => 'destroy_change_order', :id => @change_order.id}) do |f| %>

      <p>Are you sure you want to delete this change order?</p>

      <div class="form-buttons">
          <%= submit_tag("Delete") %>
      </div>

    <% end %>
</div>