<div class="zurb-row">
    Bank Balance =
    <%= price_tag account.bank_balance, "inline-block" %>
</div>
<div class="zurb-row">
    Book Balance =
    <%= price_tag account.book_balance, "inline-block" %>
</div>