<% accounts = Account.raw(session[:builder_id]) %>
<% if accounts.any? %>
  <div class="zurb-row">
      Account
      <%= hidden_field_tag(:account_id, session[:account_id], {:class => "to_select2", :data => {:source => select2_bank_accounts_json, :remote => true, :url => url_for(:action => "show_account_details_payables")}}) %>
  </div>
  <div class="account-details">
      <%= render(:partial => "account_details_payables", :locals => {:account => session[:account_id].present? ? Account.find(session[:account_id].to_i) : accounts.first}) %>
  </div>

  <div class="zurb-row">
      Payables Balance =
      <%= price_tag Bill.raw(session[:builder_id]).unpaid.map(&:remaining_amount).compact.sum, "inline-block" %>
  </div>
<% end %>
