<div class="zurb-row">
    Bank Balance =
    <%= price_tag account.bank_balance, "inline-block" %>
</div>
<div class="zurb-row">
    Book Balance =
    <%= link_to price_tag(account.book_balance, "inline-block"), {:controller => "accounts", :action => "show", :id => account.id} %>
</div>
<div class="zurb-row">
    Outstanding Checks Balance =
    <%= price_tag account.outstanding_checks_balance, "inline-block" %>
</div>