<% accounts = Account.raw(session[:builder_id]) %>
<div class="zurb-row">
        Account
    <%= select_tag(:account_id, options_from_collection_for_select(accounts, "id", "name"), {:data => {:remote => true, :url => url_for(:action => "show_account_details_receivables")}}) %>
</div>
<div class="account-details">
    <%= render(:partial => "account_details_receivables", :locals => {:account => accounts.first}) %>
</div>
<div class="zurb-row">
    Payables Balance =
    <%= price_tag Invoice.raw(session[:builder_id]).unbilled.map(&:amount).compact.sum, "inline-block" %>
</div>

<div class="zurb-row">
    Payments Held Balance =
    <%= price_tag Receipt.raw(session[:builder_id]).unbilled.map(&:amount).compact.sum, "inline-block" %>
</div>
