<% bill.bills_categories_templates.each do |p_ct| %>
  <% if p_ct.categories_template.template.estimate_id == bill.estimate_id %>
    <%= render(:partial => "bill_categories_template", :locals => {:bill => bill, :p_ct => p_ct, :categories_template => p_ct.categories_template}) %>
  <% end %>
<% end %>

<tr id="tr-category-select" class="category add">
    <td colspan="7">
        Category:
        <div id="add-category">
          <%= select_tag("category_select",
                                   grouped_options_for_select(grouped_category_options(bill)),
                                   {:include_blank => true, :data => {:remote => true, :url => url_for(:action => "show_categories_template", :id => bill.id, :type => Bill.name, :estimate_id => bill.estimate_id)}}) %>
        </div>
    </td>
</tr>
<tr>
    <td colspan="5" class="strong">TOTAL</td>
    <td id="total" class="right light-blue strong"></td>
    <td class="right strong">
        <div class="total-amount"></div>
    </td>
</tr>