<table class="grid-view invoiceables-list" summary="Items List">
    <thead>
    <tr class="header">
        <th></th>
        <th>Category</th>
        <th>Item Name</th>
        <th>Description</th>
        <th class="price">Total</th>
        <th class="price">Prior Amount</th>
        <th class="price">Amount</th>
    </tr>
    </thead>
    <tbody>
        <% template.try(:categories_templates).try(:each) do |category_template| %>
          <%= render :partial => 'invoice_tr_category', :locals => {:category_template => category_template} %>
        <% end %>
        <%- template.try(:estimate).try(:project).try(:cos_categories).try(:each) do |category| %>
          <%= render :partial => 'invoice_tr_co_category', :locals => {:template => template, :category => category} %>
        <% end %>
        <tr class="total large">
            <td colspan=4>
                TOTALS
            </td>
            <td class="right"><div class="total-amount"></div></td>
            <td class="right"><div class="total-prior-amount"></div></td>
            <td class="right"><div class="total-invoice-amount"></div></td>
        </tr>
        <tr class="total unclickable xlarge">
            <td colspan="6">CURRENT BALANCE DUE</td>
            <td class="right"><div class="total-invoice-amount"></div></td>
        </tr>
    </tbody>
</table>