<table class="grid-view purchasable-items-list" summary="Items List">
    <thead>
    <tr class="header">
        <th></th>
        <th>Category</th>
        <th>Item</th>
        <th>Estimate Description</th>
        <th>Bill Memo</th>
        <th class="cell-price">Qty</th>
        <th class="cell-price">Rate</th>
        <th class="cell-price">Pre-Tax Amount</th>
        <th class="cell-price">Post-Tax Amount</th>
        <th class="cell-price">Estimated Costs</th>
    </tr>
    </thead>
    <tbody>
      <% if purchase_order.estimate %>
        <%= render(:partial => "purchase_order_estimate", :locals => {:purchase_order => purchase_order}) %>
      <% end %>
    </tbody>

</table>