<div>
    <%= render(:partial => "layouts/accounting_sub_menu")%>
    <h1>Bills</h1>
    <%= link_to("Instructions >>", {:action => 'show'}) %>
    <br/>
    <br/>
    <div class="instructions">
        <p>Default paragraph. </p>
    </div>

    </br>
    <div class="button-group">
        <%= link_to("+ Bill", {:action => 'new_bill'}, :id => 'add-bill', :class => 'action vew btn') %>
    </div>
    <%= render(:partial => "bills", :locals => {:bills => @bills}) %>
</div>