<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row main-action-bar">
        <div class="large-3 medium-4 columns">
            <span class="trigger help action-button">Instructions >></span>

            <div class="instructions">
                <p>Default paragraph. </p>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <h1>Bills</h1>
        </div>
        <div class="large-3 medium-2 columns">
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <div class="paid-status">
                <input checked="checked" id="all_bills" name="bills_type" type="radio" value="All">
                <label>All</label>
                <input id="paid_bills" name="bills_type" type="radio" value="Paid">
                <label>Paid</label>
                <input id="unpaid_bills" name="bills_type" type="radio" value="Unpaid">
                <label>Unpaid</label>
                <input id="late_bills" name="bills_type" type="radio" value="Late">
                <label>Late</label>
            </div>
            <div class="button-group">
                <%= link_to("+ Bill", {:action => 'new_bill', :original_url => url_for(:action => "bills") }, :id => 'add-bill', :class => 'action vew btn') %>
            </div>
            <%= render(:partial => "bills", :locals => {:bills => @bills}) %>
        </div>
    </div>
</div>

<script>
    $(".instructions").hide();
    $(".trigger").click(function () {
        if ($(".instructions").is(":hidden")) {
            $(".instructions").slideDown("slow");
        }
        else {
            $(".instructions").hide();
        }
    });
</script>