<div>
    <%= render(:partial => "layouts/accounting_sub_menu")%>
    <h2>Delete Deposit</h2>

    <%= form_for(:deposit, :url => {:action => 'destroy_deposit', :id => @deposit.id}) do |f| %>

      <p>Are you sure you want to delete this deposit?</p>

      <div class="form-buttons">
          <%= submit_tag("Delete", class: 'btn') %>
      </div>

    <% end %>
</div>