<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Delete Receipt</h2>
            <%= form_for(:receipt, :url => {:action => 'destroy_receipt', :id => @receipt.id}) do |f| %>
              <%= render :partial => 'shared/errors', :locals => {:obj => @receipt} %>
                <p>Are you sure you want to delete this receipt?</p>

                <div class="form-buttons">
                    <%= submit_tag("Delete", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>