<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h1 class="center">Edit Receipt</h1>
            <%= link_to("Delete", {:action => 'delete_receipt', :id => @receipt.id}, :class => 'btn btn-danger f-right') %>
            <div id="receipt-form">
                <%= render(:partial => "receipt_form") %>
            </div>
        </div>
    </div>
</div>