<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h1 class="center">New Deposit</h1>
            <%= form_for(@deposit, :url => {:action => 'create_deposit'}, :html => {:class => 'form-horizontal'}) do |f| %>
                <%= render(:partial => "deposit_form", :locals => {:f => f}) %>
                <div class="form-buttons">
                    <%= submit_tag("Create", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>