<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns margin-bottom">
            <h1 class="center">New Receipt</h1>

            <div id="receipt-form">
                <%= render(:partial => "receipt_form") %>
            </div>
        </div>
    </div>
</div>