<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <div class="columns">
                <h1>Payments</h1>
            </div>
            <div class="zurb-row">
                <div class="button-group">
                    <%= link_to("+ Payment", {:action => 'new_payment'}, :id => 'add-payment', :class => 'action vew btn') %>
                </div>
                <%= render(:partial => "payments", :locals => {:payments => @payments}) %>
            </div>
        </div>
    </div>
</div>

