<div>
  <%= render(:partial => "layouts/accounting_sub_menu")%>
  <h3>Payments</h3>
  <%= link_to("Add Payment  >>", {:action => 'new_payment'}, :id => 'add-payment', :class => 'action vew') %>

	</br>
	</br>
   <%= render(:partial => "payments", :locals => {:payments => @payments}) %>
</div>

