<div>
    <%= render(:partial => "layouts/accounting_sub_menu")%>
    <h3>Receipts</h3>
    <%= link_to("+ Receipt", {:action => 'new_receipt'}, :id => 'add-receipt', :class => 'action vew btn') %>
    <%= render(:partial => "receipts", :locals => {:receipts => @receipts}) %>
</div>

