<div>
	<%= render(:partial => "sub_menu")%>
	<h1>Accounting Reports</h1>
	<%= link_to("Instructions >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Profit & Loss >>", {:action => 'show'}) %>
	</br>
	</br>
	<%= link_to("Balance Sheet >>", {:action => 'show'}) %>
	</br>
	</br>
	
</div>



