<% content_for :javascript do %>
  <script type='text/javascript'>
    $(document).ready(function () {
      Accounting.initAccounts();
    })
  </script>
<% end %>

<div id="vendor_accounts">
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="large-3 medium-3 columns" id="sidebar">
            <h3>Vendors</h3>
            <div id="vendor-list" class="full-width full-height">
                <%= render(:partial => "accounting/accounts/vendors", :locals => {:vendors => @vendors}) %>
            </div>
        </div>
        <div id="dragbar" class="full-height">
            <div id="dragbar-button">
            </div>
        </div>
        <div class="columns" id="details">
            <h3>Vendor Information</h3>
            <div id="vendor-details" class="full-height zurb-row">
            </div>
        </div>
    </div>
</div>



