<table class="grid-view invoiceables-list" summary="Items List">
    <thead>
    <tr class="header">
        <th>
            <input type="checkbox" name="select-all" value="select-all" data-target='input[name="bill-chosen"]'>
        </th>
        <th>Category</th>
        <th>Bill #</th>
        <th>Billed Date</th>
        <th class="price">Total</th>
        <th class="price">Prior Amount</th>
        <th class="price">Amount</th>
    </tr>
    </thead>
    <tbody>
    <% template.try(:categories_templates).try(:each) do |category_template| %>
      <%= render :partial => 'accounting/cost_plus_bid/invoice_tr_category', :locals => {:category_template => category_template, :from_date => from_date, :to_date => to_date} %>
    <% end %>
    <tr class="total large">
        <td colspan=4>
            TOTALS
        </td>
        <td class="right"><div class="total-amount"></div></td>
        <td class="right"><div class="total-prior-amount"></div></td>
        <td class="right"><div class="total-invoice-amount"></div></td>
    </tr>
    <tr class="total unclickable xlarge">
        <td colspan="6">CURRENT BALANCE DUE</td>
        <td class="right"><div class="total-invoice-amount"></div></td>
    </tr>
    </tbody>
</table>