<div>
    <%= render(:partial => "submenu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Delete Item</h2>
            <%= form_for(:item, :url => url_for([@scope.to_sym, @item]), method: :delete) do |f| %>
                <p>Are you sure you want to delete this item?</p>

                <p class="reference-name"><%= @item.name %></p>

                <div class="form-buttons">
                    <%= submit_tag("Delete", :class => 'btn') %>
                </div>
            <% end %>
        </div>
    </div>
</div>