<div>
	<%= render(:partial => "templates/sub_menu")%>
	<h2>Edit Item</h2>
	
	<%= form_for @item, :url => {:action => 'update', :id => @item.id}, html: {id: 'items_form'} do |f| %>
	
	<%= render(:partial => "new_form", :locals => {:f => f})%>
	
	<div class="form-buttons">
		<%= submit_tag("Update") %>
	</div>
	
	<% end %>
	
</div>
