<div>
    <%= render(:partial => "submenu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Create Item</h2>
            <%= form_for @item, :url => url_for([@scope.to_sym, :items]), :html => {:method => :post, :class => 'form-horizontal'} do |f| %>
                <%= render(:partial => "new_form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>