<div>

	<h1>Welcome to Construction Central</h1>
	<%= link_to("Register >>", {:controller => 'users', :action => 'new'}) %>
	</br>
	</br>
	<%= link_to("Login >>", {:controller => 'users', :action => 'login'}) %>
	</br>
	</br>
	
	<p>Introductory text goes here . . . </p>
	
	
</div>



