<div>

	<h1>Welcome to Construction Central</h1>
	<h2>Current User Login Here:</h2>
	<%= link_to("Login >>", new_user_session_path) %>
	</br>
	</br>
	<h2>Interested in trying it out? Register here:</h2>
	<%= link_to("Register >>", new_user_registration_path) %>
	</br>
	</br>
	
	</br>
	</br>
	<h2>What is Construction Central?</h2>
	
	<p>Construction Central is the leader in cloud-based construciton software offering a web-based application as well as mobile integration (iphone, ipad, Android, and tablet apps) designed to help you run an enormously efficient construction company. It is organized into
	seven key components: </p>
	<ul>
		<li>Prospecting</li>
		<li>Leads</li>
		<li>Estimating</li>
		<li>Contracts</li>
		<li>Project Management</li>
		<li>People</li>
		<li>Accounting</li>
	</ul>
	
	</br>
	</br>
	
	<h2>Prospecting</h2>
		<p>
			Prospecting allows you to manage all of the contact info and details for prospective clients. Here you can import mailing lists,
			export mailing lists,create email campaigns, and integrate with other 3rd parth programs such as MailChimp.
		</p>
	<h2>Leads</h2>
		<p>
			Leads is where you enter in all your current leads for specific projects that you may win. If one of your prospects calls you, and says they have 				a job for you to estimate, you can easily create a lead from them. Or, if a new client whom you've never dealt with calls your office, you can 				also enter them from scratch. Each lead has a different stages: (1. New, 2. Made Contact, 3. Made Appointment, 4. Estimating, 5. Sent Estimate, 6. Sent Contract). As you progress through the stages of a lead, the leads area organizes all of your leads by stage so that you know where your are with each one at all times. It also allows an area for you to add specific notes about the lead which can be seen by all other members of your company.
		</p>
	<h2>Estimating</h2>
		<p>
			Estimating let's you create pre-built templates for each type of project you do. For example, you could have a template for Commercial Remodels and one for Residential New Construction. Once you have built a template you can reuse it over and over again. This dramatically reduces the time
			necessary for building new estimates. There is also a section within Estimating where you can enter in all of the measurements off of your plans. Once those measurements are entered, the application automatically calculates how many studs you need, how many pieces of drywall, etc, etc. Once you've set up your items and templates, you should be able to build a fully detailed 150 line-item estimate for a project in about 20-30 minutes! 
		</p>
	<h2>Contracts</h2>
		<p>
			Contracts allows you to custom build contracts for each job you start. Here you can create templates for different types of projects. You can
			also select different clauses you want to include or exclude simply by checking a box. Additionally, all client and project info you've entered into the Construction Central within the Leads area and Estimating area will automatically populate into your contracts so you don't have to re-enter any of that information.
		</p>
	<h2>Project Management</h2>
		<p>
			Project Management allows you to track the progress of all of your construction projects. It has pre-built task lists for you or you can build
			your own custom task lists. Each task list has allows you to check-off each item as it is completed. All information is shared across all the 
			members of your company so as tasks are completed by different individuals every stays well informed. The Project Management dashboard also
			helps you keep track of the deadlines for each project and analyzes your pace so you know whether you are on track to finish on time or
			running behind.
		</p>
	<h2>People</h2>
		<p>
			People is the area where all information about clients, subcontractors, clients, architects, etc. is stored. You can have thousands of people
			stored in the application and with the simplest of searches find exactly who you are looking for. Type "framer" to have an immediate list of all
			your framers pop-up so you can pick one to call. Or type "John" to have every individual with the name John pulled up. You can stores notes for
			each person to keep track of how much you liked or didn't like working with, who referred them, or whether their prices were competitive or not.
			All of these notes can be searched. A search such as "Referred by Zach", will pull up every individual amongst all your People with anyone that
			was referred to you by Zach.
		</p>
	<h2>Accounting</h2>
		<p>
			Accounting works exactly as you hope it would. It reads in all your estimates, project info, and people to prevent you from having to double
			enter anything. It provides a very intuitive layout that just makes sense for a construction company. Write checks, add bank accounts, and
			create invoices all with just a few clicks.
		</p>
		
	<h2>Additional Features</h2>
		<ul>
			<li>User Permission Roles</li>
			<li>Bank Level Data Security</li>
			<li>Automatic Data Backups</li>
			<li>Easy Import/Export Functionality</li>
			<li>iPhone, iPad, tablet, and Android apps</li>
		</ul>
		
	</br>
	</br>
	
	<h2>Give it a try! Register here.</h2>
	<%= link_to("Register >>", {:controller => 'users', :action => 'register'}) %>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
</div>



