<div class="zurb-row">
    <div class="large-10 large-centered columns">
        <div class="zurb-row">
            <div class="logo-12">
                <span class="logo-1">CONSTRUCTION</span>
                <span class="logo-2">CENTRAL</span>
            </div>
        </div>
        <div class="zurb-row">
            <div class="logo-3">BUILT FOR BUILDING</div>
        </div>
    </div>
    <div class="large-8 large-centered medium-10 medium-centered columns">
        <div class="zurb-row">
            <div class="large-8 large-centered medium-10 medium-centered columns">
                <div class="zurb-row">
                    <div class="intro-1">COMING SOON: CONSTRUCTION CENTRAL</div>
                </div>
                <div class="zurb-row">
                    <div class="intro-2">Construction Central is the project management tool you’ve been searching for.
                        It helps you get more done in less time, while making the process less stressful for everyone
                        involved: employees, clients, vendors, and most of all, you. Our web-based, mobile-integrated
                        tools are built from the ground up to help you run an enormously efficient construction company,
                        project after project, day after day.
                    </div>
                </div>
                <div class="zurb-row">
                    <div class="intro-3">BE SURE TO LIKE CONSTRUCTION CENTRAL ON FACEBOOK AND BE THE FIRST TO REBUILD
                        THE WAY YOU DO BUSINESS.
                    </div>
                </div>
            </div>
        </div>
        <div class="zurb-row">
            <div class="large-4 large-centered columns">
                <div class="intro-4"><a href="https://www.facebook.com/ConstructionCentral">GET UPDATES NOW!</a></div>
            </div>
        </div>
    </div>
</div>