/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap_and_overrides
 *= require responsive-tables
 *= require_tree ./base
 */

ul#tasksContainer{
    list-style: none;
    display: inline-block;
}

ul#tasksContainer li label{
    padding: 5px;
}

ul#tasksContainer li label:hover{
    cursor: pointer;
    background: gainsboro;
}

.login-box {
    border: 1px solid #000000;
    margin: 30px auto;padding: 25px 67px;
    width: 250px;
}

.inline-block{
    display: inline-block;
}

.clickable{
    cursor: pointer;
}

.change_order{
    background-color: lightgoldenrodyellow;
}

.purchased{
    background-color: #FFE4E1;
}

.unclickable{
    background-color: #f5f5f5;
}

.unclickable.change_order{
    background-color: #E5F1F4 !important;
}

a.uneditable, a.uneditable:hover{
    color: #808080;
}

.autocomplete-sublabel{
    font-style: italic;
    font-size: 10px;
}

.more-actions{
    float:right;
}

.dataTable thead{
    cursor: pointer;
}

.sorting {
    background: url('/assets/sort_both.gif') no-repeat center right;
}

.sorting_asc {
    background: url('/assets/sort_asc.gif') no-repeat center right;
}

.sorting_desc {
    background: url('/assets/sort_desc.gif') no-repeat center right;
}

.dataTables_wrapper label input{
    margin: auto 10px 0 auto;
}

.dataTables_filter{
    float: right;
    margin-top: 15px;
}

.button-group, .dataTables_wrapper label{
    display: inline-block;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}