@mixin bold($align){
  text-align: $align;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  margin: 0
}

table {
  border-collapse: collapse;
  border: solid 1px #000000;
  width: 100%;
  th{
    border: solid 1px #000000;
    padding: 5px;
    font-weight: normal;
  }
  td{
    padding: 5px;
    vertical-align: top;
  }
  tr.tr-footer{
     font-weight: bold;
  }
}

table.item-list {
  tr.subtotal {
    td {
      border: solid 1px #000000;
    }
  }
  td {
    border-right: solid 1px #000000;
    text-align: right;
  }
  td.headline {
    text-align: left;
    border: solid 1px #000000;
    h3 {
      font-weight: normal;
    }
  }
  td.nowrap {
    white-space: nowrap;
  }
  td.center {
    white-space: nowrap;
  }
  td.description{
    text-align: left;
    padding-left: 20px;
  }
  td.unit, td.quantity{
    text-align: center;
  }
  td.left-bold {
     @include bold(left);
  }
  td.center-bold {
    @include bold(center);
  }
  td.right-bold{
    @include bold(right);
  }
}

table.report {
  border: none;
  width: auto;
  td {
    padding: 0 20px 9px 0;
    a {
      text-decoration: none;
      color: #000000;
    }
  }
  td.amount {
    text-align: right;
  }

  td.name {
    padding-right: 30px;
  }
  td.calculate {
    border-top: solid 1px #000000;
  }
}

.tr-category, .tr-footer{
    border-top: solid 1px #000000 ;
}

.large{
  font-size: 16px;
}

.xlarge{
  font-size: 20px;
}

.highlight{
   background: #CCC;
}

.indent{
  width: 20px;
  display: inline-block;
}

#header{
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  .left-header{
    margin-top: 25px;
    text-align: center;
    width: 49%;
    float: left;
    .address{
      margin-top: 5px;
      font-size: 18px;
    }
    .website{
      margin-top: 5px;
      font-size: 13px;
    }
    .phone{
      margin-top: 20px;
      font-size: 13px;

    }
    .slogan{
      margin-top: 20px;
      font-size: 20px;
      font-style: italic
    }
  }
  .right-header{
    width: 49%;
    float: right;
    table{
      width: 90%;
    }
    table.top{
      border: none;
      margin: 10px 0 0 auto;
      tr:nth-child(even) {background: #CCC}
      tr:nth-child(odd) {background: #FFF}
      tr:first-child{
        font-size: 30px;
        font-weight: bold;
      }
      td{
        border: none;
        text-align:center;
        }
      }
    table.bottom{
      margin: 40px 0 0 auto;
      td {
        border: solid 1px #000000;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}
