body {
    font-family: "Calibri-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #ececec;
}

@media only screen and (min-width: 1580px) {
    body {
        font-size: 20px;
    }

    #mainmenu li {
        margin-bottom: 0;
    }
}