<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Edit Category</h2>
            <%= form_for @category, :url => {:action => 'update', :id => @category.id}, :html => {:class => 'form-horizontal'} do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Update Category", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
