<div>
    <%= render(:partial => "layouts/estimating_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>New Category</h2>
            <%= form_for @category, :url => {:action => 'create'}, :html => {:class => 'form-horizontal'} do |f| %>
                <%= render(:partial => "form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create Category", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>