<div>
  <%= render(:partial => "layouts/estimating_sub_menu")%>
  <h2>New Category</h2>

  <%= form_for @category, :url => {:action => 'create'} do |f| %>

  <%= render(:partial => "new_form", :locals => {:f => f})%>

  <div class="form-buttons">
  <%= submit_tag("Create Category") %>
  </div>

  <% end %>

</div>