<table class="grid-view purchased-account-items-list" summary="Items List">
    <thead>
    <tr class="header">
        <th></th>
        <th>Item</th>
        <th>Billing Memo</th>
        <th class="cell-price">GL Account</th>
        <th class="cell-price">Amount</th>
    </tr>
    </thead>
    <tbody>
    <%= f.fields_for :un_job_costed_items, @bill.un_job_costed_items.any? ? @bill.un_job_costed_items : Array.new(5) { UnJobCostedItem.new } do |i| %>
        <%= render(:partial => 'accounting/un_job_costed_bills/bill_item', :locals => {:f => i}) %>
    <% end %>
    <tr class="add-item" id="add-item">
        <td colspan="5">
            <%= link_to_add_association 'Add Item', f, :un_job_costed_items, partial: 'accounting/un_job_costed_bills/bill_item', "data-association-insertion-traversal" => "closest", "data-association-insertion-node" => "tr#add-item", :"data-association-insertion-method" => "before" %>
        </td>
    </tr>
    <tr>
        <td colspan="4" class="strong">TOTAL</td>
        <td class="right strong" id="bill-amount"></td>
    </tr>
    </tbody>
</table>
