<div>
  <%= render(:partial => "layouts/people_sub_menu")%>
  <h2>Import / Export</h2>
  

  
  <div>
  
    <h3> Export Suppliers: </h3>
    <p>
      <%= link_to "CSV", {controller: 'suppliers', action: 'list', format: 'csv'} %> |
      <%= link_to "Excel", {controller: 'suppliers', action: 'list', format: 'xls'} %>
    </p>
    
  </div>

</div>