<div class="zurb-row">
    <table class="item-list splitForPrint">
        <thead>
        <tr class="header">
            <th>Date</th>
            <th>Type</th>
            <th>Reference #</th>
            <th>Project</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <%= render(:partial => "accounting/accounts/pdf/tr_transactions", :locals => {:transactions => transactions, :balance => balance}) %>
        </tbody>
    </table>
</div>