<div id='submenu'>
	<ul>
		<li><%= link_to("All", {:controller => 'vendors', :action => 'all'})%></li>
		<li><%= link_to("Clients", {:controller => 'clients', :action => 'list'})%></li>
		<li><%= link_to("Vendors", {:controller => 'vendors', :action => 'list'})%></li>
		<li><%= link_to("Import/Export", {:controller => 'vendors', :action => 'import_export'})%></li>
	</ul>
</div>


	