<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <h2>Edit Account Info</h2>

    <%= form_for @account, :url => {:action => 'update', :id => @account.id}, html: {class: 'form-horizontal'} do |f| %>

      <%= render(:partial => "edit_form", :locals => {:f => f}) %>

      <div class="control-group">
          <div class='controls'>
              <%= submit_tag("Update", class: 'btn') %>
          </div>
      </div>

    <% end %>

</div>
