<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h1>Edit Transfers</h1>
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= link_to("Delete", {:action => 'delete_transfer', :id => @transfer.id}, :class => 'btn btn-danger f-right') %>
            <%= form_for @transfer, :url => {:action => 'update_transfer', :id => @transfer.id}, :html => {:class => 'form-horizontal transfer-form'} do |f| %>
              <%= render(:partial => "transfer_form", :locals => {:f => f}) %>

            <% end %>
        </div>
    </div>
</div>

