<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h2>Add Supplier</h2>
            <%= form_for @account, :url => {:action => 'create'}, :html => {:class => 'form-horizontal account-form'} do |f| %>
                <%= render(:partial => "account_form", :locals => {:f => f}) %>
                <div class="control-group">
                    <div class='controls'>
                        <%= submit_tag("Create", :class => 'btn') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>