<div>
    <%= render(:partial => "layouts/accounting_sub_menu") %>
    <div class="zurb-row">
        <div class="columns">
            <h1>Make Transfers</h1>
        </div>
    </div>
    <div class="zurb-row">
        <div class="columns">
            <%= form_for @transfer, :url => {:action => 'create_transfer'}, :html => {:class => 'form-horizontal transfer-form'} do |f| %>
              <%= render(:partial => "transfer_form", :locals => {:f => f}) %>

            <% end %>
        </div>
    </div>
</div>

